/*
 * css styles go here
 */

div {
  box-sizing: border-box;
  /*border: 1px solid tomato;*/
}

body {
  font-family: Helvetica,Arial,sans-serif;
}

a, a:visited {
  color: navy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


#header {
  padding: 4px;
}

#header .big {
  font-size:   140%;
  font-weight: bold;
}

#header .small {
  font-size:    90%;
  color:        grey;
  padding-left: 15px;
}

#nav {
  padding: 6px;
}

#main-img{
  width: 75%;
  position: relative;
  /*left: 3%;*/
}

.description{
  font-size: 2.3rem;  
  text-align: right;
}

#test{
  position: relative;
  left:-3%;
}



@media (max-width: 575px){
  #test{
    position: relative;
    left: -10%;
  }
  .description {
    font-size: 1.6rem;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  #test{
    position: relative;
    left: -10%;
  }
  .description {
    font-size: 2.0rem;
  }
}


